In [15]:
import pandas as pd
from nba_py import team
from nba_py import game

In [82]:
df = game.Boxscore(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.team_stats()

In [86]:
df.to_csv('boxscore_team_stats.csv')
df.head()

In [84]:
df = game.BoxscoreSummary(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.line_score()

In [85]:
df.to_csv('boxscoresumm_line_score.csv')
df.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NICKNAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS
0,2018-11-07T00:00:00,3,0021800155,1610612737,ATL,Atlanta,Hawks,3-8,26,29,...,0,0,0,0,0,0,0,0,0,107
1,2018-11-07T00:00:00,3,0021800155,1610612752,NYK,New York,Knicks,4-8,26,26,...,0,0,0,0,0,0,0,0,0,112

In [87]:
df = game.BoxscoreAdvanced(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_advanced()

In [88]:
df.to_csv('boxscoreadv_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021800155,1610612752,Knicks,NYK,New York,240:00,107.0,106.7,100.2,102.9,...,17.1,0.513,0.573,1.0,0.199,105.72,104.5,87.08,105,0.517
1,0021800155,1610612737,Hawks,ATL,Atlanta,240:00,100.2,102.9,107.0,106.7,...,16.3,0.462,0.511,1.0,0.195,105.72,104.5,87.08,104,0.483

In [89]:
df = game.BoxscoreFourFactors(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_four_factors()

In [90]:
df.to_csv('boxscorefourfactor_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,0021800155,1610612752,Knicks,NYK,New York,240:00,0.513,0.610,0.172,0.229,0.462,0.315,0.159,0.310
1,0021800155,1610612737,Hawks,ATL,Atlanta,240:00,0.462,0.315,0.159,0.259,0.513,0.610,0.172,0.333