In [22]:
import pandas as pd
from nba_py import team
from nba_py import game
from nba_py import Scoreboard

In [20]:
df = game.Boxscore(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.team_starter_bench_stats()
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,STARTERS_BENCH,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,0021800944,1610612757,Trail Blazers,POR,Portland,Starters,152:07,28,63,0.444,...,0.923,9,25,34,21,6,2,11,14,75
1,0021800944,1610612757,Trail Blazers,POR,Portland,Bench,87:53,15,33,0.455,...,0.900,4,10,14,5,3,1,0,9,43
2,0021800944,1610612766,Hornets,CHA,Charlotte,Starters,147:25,17,51,0.333,...,0.909,3,11,14,17,7,4,5,11,51
3,0021800944,1610612766,Hornets,CHA,Charlotte,Bench,92:35,20,32,0.625,...,0.833,1,20,21,8,0,1,7,10,57

In [5]:
df.to_csv('boxscore_team_stats.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0021800944,1610612757,Trail Blazers,POR,Portland,240:00,43,96,0.448,11,...,13,35,48,26,9,3,11,23,118,10.0
1,0021800944,1610612766,Hornets,CHA,Charlotte,240:00,37,83,0.446,14,...,4,31,35,25,7,5,12,21,108,-10.0

In [74]:
df = game.BoxscoreSummary(game_id='0021800175', season='2018-19', season_type='Regular Season', range_type='0', 
                          start_period='0', end_period='0', start_range='0', end_range='0')
df = df.line_score()

In [75]:
#df.to_csv('boxscoresumm_line_score.csv')
df.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NICKNAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS
0,2018-11-10T00:00:00,2,0021800175,1610612746,LAC,LA,Clippers,7-5,33,29,...,0,0,0,0,0,0,0,0,0,128
1,2018-11-10T00:00:00,2,0021800175,1610612749,MIL,Milwaukee,Bucks,9-3,24,40,...,0,0,0,0,0,0,0,0,0,126

In [77]:
string = df['TEAM_WINS_LOSSES'][0]
string = string.split('-')
print(int(string))

KeyError: 'TEAM_WINS_LOSSES'

In [69]:
df = game.BoxscoreAdvanced(game_id='0021800175', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_advanced()

In [68]:
df.to_csv('boxscoreadv_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021800165,1610612757,Trail Blazers,POR,Portland,240:00,113.4,119.6,107.4,107.1,...,7.2,0.464,0.531,1.0,0.199,100.06,97.5,81.25,97,0.541
1,0021800165,1610612746,Clippers,LAC,LA,240:00,107.4,107.1,113.4,119.6,...,7.1,0.506,0.537,1.0,0.200,100.06,97.5,81.25,98,0.459

In [70]:
df = game.BoxscoreFourFactors(game_id='0021800175', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_four_factors()

In [71]:
df.to_csv('boxscorefourfactor_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,0021800175,1610612749,Bucks,MIL,Milwaukee,265:00,0.524,0.219,0.145,0.246,0.535,0.273,0.151,0.250
1,0021800175,1610612746,Clippers,LAC,LA,265:00,0.535,0.273,0.151,0.179,0.524,0.219,0.145,0.279

In [6]:
df = game.HustleStats(game_id='0021800155')
df = df.hustle_stats_available()
df.head()

      GAME_ID  HUSTLE_STATUS
0  0021800155              1

In [5]:
df.to_csv('hussle_stats.csv')

In [8]:
df = game.PlayByPlay(game_id='0021800155', start_period='0', end_period='0')
df = df.info()
df.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021800155,2,12,0,1,7:41 PM,12:00,None,None,None,None,None
1,0021800155,4,10,0,1,7:41 PM,12:00,Jump Ball Len vs. Robinson: Tip to Ntilikina,None,None,None,None
2,0021800155,7,1,101,1,7:41 PM,11:41,None,None,Hardaway Jr. 9' Driving Floating Jump Shot (2 ...,2 - 0,-2
3,0021800155,9,5,4,1,7:41 PM,11:38,Young Traveling Turnover (P1.T1),None,None,None,None
4,0021800155,10,1,108,1,7:42 PM,11:31,None,None,Robinson 1' Cutting Dunk Shot (2 PTS) (Hardawa...,4 - 0,-4

In [76]:
df = game.BoxscoreSummary(game_id='0021800175', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.season_series()
df.head()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,GAME_DATE_EST,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER
0,0021800175,1610612746,1610612749,2018-11-10T00:00:00,1,1,Tied

In [49]:
df = Scoreboard(month=12, day=30, year=2018, league_id='00', offset=0)
df = df.series_standings()
df.head()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,GAME_DATE_EST,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER
0,0021800538,1610612761,1610612741,2018-12-30T00:00:00,4,0,Toronto
1,0021800537,1610612748,1610612750,2018-12-30T00:00:00,0,2,Minnesota
2,0021800540,1610612757,1610612755,2018-12-30T00:00:00,2,0,Portland
3,0021800541,1610612747,1610612758,2018-12-30T00:00:00,3,1,L.A. Lakers
4,0021800539,1610612742,1610612760,2018-12-30T00:00:00,3,1,Dallas

In [57]:
df = team.TeamLastNGamesSplits(team_id='1610612737', measure_type='Base', per_mode='PerGame', 
                               plus_minus='N', pace_adjust='N', rank='N', league_id='00', 
                               season='2017-18', season_type='Regular Season', po_round='0', 
                               outcome='', location='', month='0', season_segment='', date_from='', 
                               date_to='', opponent_team_id='0', vs_conference='', vs_division='', 
                               game_segment='', period='0', shot_clock_range='', last_n_games='0')
df = df.last20()
df.head()

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Last 20 Games,Last 20 Games,20,5,15,0.25,48.0,38.3,87.0,0.44,...,1,1,1,1,1,1,1,1,161,Last 20 Games

In [59]:
df['W_PCT'].values[0]

0.25

In [45]:
df = team.TeamGeneralSplits(team_id='1610612737', measure_type='Base', per_mode='PerGame', plus_minus='N', pace_adjust='N',
                            rank='N', league_id='00', season='2018-19', season_type='Regular Season', 
                            po_round='0', outcome='', location='', month='0', season_segment='', 
                            date_from='', date_to='', opponent_team_id='0', vs_conference='', vs_division='', 
                            game_segment='', period='0', shot_clock_range='', last_n_games='0')
df = df.wins_losses()
df.head()

,GROUP_SET,GROUP_VALUE,GAME_RESULT,GP,W,L,W_PCT,MIN,FGM,FGA,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Wins/Losses,Wins,Wins,29,29,0,1.0,48.5,44.4,93.1,...,1,2,1,1,1,2,1,1,157,Wins
1,Wins/Losses,Losses,Losses,53,0,53,0.0,48.4,39.7,91.0,...,2,1,2,2,2,1,2,2,157,Losses

In [41]:
df = team.TeamPassTracking(team_id='1610612737', measure_type='Base', per_mode='PerGame', plus_minus='N', pace_adjust='N', rank='N', 
                           league_id='00', season='2017-18', season_type='Regular Season', po_round='0', 
                           outcome='', location='', month='0', season_segment='', date_from='', date_to='', 
                           opponent_team_id='0', vs_conference='', vs_division='', game_segment='', period='0',
                           shot_clock_range='', last_n_games='0')
df = df.passes_recieved()
df.head()

,TEAM_ID,TEAM_NAME,PASS_TYPE,G,PASS_TO,PASS_TEAMMATE_PLAYER_ID,FREQUENCY,PASS,AST,FGM,FGA,FG_PCT,FG2M,FG2A,FG2_PCT,FG3M,FG3A,FG3_PCT
0,1610612737,Atlanta Hawks,received,66,"Schroder, Dennis",203471,0.198,79.76,1.83,7.05,17.24,0.409,5.95,13.50,0.441,1.09,3.74,0.291
1,1610612737,Atlanta Hawks,received,64,"Bazemore, Kent",203145,0.091,37.89,2.66,3.84,10.25,0.375,2.30,6.20,0.370,1.55,4.05,0.382
2,1610612737,Atlanta Hawks,received,81,"Prince, Taurean",1627752,0.112,36.68,3.01,4.57,11.74,0.389,2.46,6.21,0.396,2.11,5.53,0.382
3,1610612737,Atlanta Hawks,received,67,"Taylor, Isaiah",1627819,0.091,36.18,0.78,2.28,6.19,0.369,2.00,5.06,0.395,0.28,1.13,0.250
4,1610612737,Atlanta Hawks,received,53,"Delaney, Malcolm",1627098,0.069,34.74,1.09,1.87,5.34,0.350,1.06,3.13,0.337,0.81,2.21,0.368

In [44]:
df = team.TeamPerformanceSplits(team_id='1610612737', measure_type='Base', per_mode='PerGame', plus_minus='N', pace_adjust='N', rank='N', 
                           league_id='00', season='2017-18', season_type='Regular Season', po_round='0', 
                           outcome='', location='', month='0', season_segment='', date_from='', date_to='', 
                           opponent_team_id='0', vs_conference='', vs_division='', game_segment='', period='0',
                           shot_clock_range='', last_n_games='0')
#df = df.points_against()
df = df.score_differential()
df.head()

,GROUP_SET,GROUP_VALUE_ORDER,GROUP_VALUE,GROUP_VALUE_2,GP,W,L,W_PCT,MIN,FGM,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Score Differential,NaN,W,Over 20 Points,2,2,0,1.0,48.0,46.0,...,12,1,1,1,8,2,1,1,203,None
1,Score Differential,NaN,W,11-15 Points,5,5,0,1.0,48.0,41.6,...,4,3,5,12,12,14,5,2,201,None
2,Score Differential,NaN,W,6-10 Points,6,6,0,1.0,48.0,41.5,...,6,12,2,4,5,10,6,4,200,None
3,Score Differential,NaN,W,5 Points and Under,7,7,0,1.0,48.0,39.7,...,11,6,4,8,14,8,7,5,199,None
4,Score Differential,0.0,W,All,24,24,0,1.0,48.0,41.1,...,1,2,1,2,2,2,1,1,198,None

In [79]:
df = team.TeamSummary(team_id='1610612737', season='2017-18', league_id='00', season_type='Regular Season')
df = df.info()
df.head()

,TEAM_ID,SEASON_YEAR,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CONFERENCE,TEAM_DIVISION,TEAM_CODE,W,L,PCT,CONF_RANK,DIV_RANK,MIN_YEAR,MAX_YEAR
0,1610612737,2017-18,Atlanta,Hawks,ATL,East,Southeast,hawks,24,58,0.293,15,5,1949,2019

In [81]:
df['PCT'].values[0]

0.293