In [22]:
import pandas as pd
from nba_py import team
from nba_py import game
from nba_py import Scoreboard

In [20]:
df = game.Boxscore(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.team_starter_bench_stats()
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,STARTERS_BENCH,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,0021800944,1610612757,Trail Blazers,POR,Portland,Starters,152:07,28,63,0.444,...,0.923,9,25,34,21,6,2,11,14,75
1,0021800944,1610612757,Trail Blazers,POR,Portland,Bench,87:53,15,33,0.455,...,0.900,4,10,14,5,3,1,0,9,43
2,0021800944,1610612766,Hornets,CHA,Charlotte,Starters,147:25,17,51,0.333,...,0.909,3,11,14,17,7,4,5,11,51
3,0021800944,1610612766,Hornets,CHA,Charlotte,Bench,92:35,20,32,0.625,...,0.833,1,20,21,8,0,1,7,10,57

In [5]:
df.to_csv('boxscore_team_stats.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0021800944,1610612757,Trail Blazers,POR,Portland,240:00,43,96,0.448,11,...,13,35,48,26,9,3,11,23,118,10.0
1,0021800944,1610612766,Hornets,CHA,Charlotte,240:00,37,83,0.446,14,...,4,31,35,25,7,5,12,21,108,-10.0

In [6]:
df = game.BoxscoreSummary(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.line_score()

In [7]:
df.to_csv('boxscoresumm_line_score.csv')
df.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NICKNAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS
0,2018-11-07T00:00:00,3,0021800155,1610612737,ATL,Atlanta,Hawks,3-8,26,29,...,0,0,0,0,0,0,0,0,0,107
1,2018-11-07T00:00:00,3,0021800155,1610612752,NYK,New York,Knicks,4-8,26,26,...,0,0,0,0,0,0,0,0,0,112

In [8]:
df = game.BoxscoreAdvanced(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_advanced()

In [9]:
df.to_csv('boxscoreadv_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021800155,1610612752,Knicks,NYK,New York,240:00,107.0,106.7,100.2,102.9,...,17.1,0.513,0.573,1.0,0.199,105.72,104.5,87.08,105,0.517
1,0021800155,1610612737,Hawks,ATL,Atlanta,240:00,100.2,102.9,107.0,106.7,...,16.3,0.462,0.511,1.0,0.195,105.72,104.5,87.08,104,0.483

In [89]:
df = game.BoxscoreFourFactors(game_id='0021800155', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.sql_team_four_factors()

In [90]:
df.to_csv('boxscorefourfactor_team.csv')
df.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,0021800155,1610612752,Knicks,NYK,New York,240:00,0.513,0.610,0.172,0.229,0.462,0.315,0.159,0.310
1,0021800155,1610612737,Hawks,ATL,Atlanta,240:00,0.462,0.315,0.159,0.259,0.513,0.610,0.172,0.333

In [6]:
df = game.HustleStats(game_id='0021800155')
df = df.hustle_stats_available()
df.head()

      GAME_ID  HUSTLE_STATUS
0  0021800155              1

In [5]:
df.to_csv('hussle_stats.csv')

In [8]:
df = game.PlayByPlay(game_id='0021800155', start_period='0', end_period='0')
df = df.info()
df.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021800155,2,12,0,1,7:41 PM,12:00,None,None,None,None,None
1,0021800155,4,10,0,1,7:41 PM,12:00,Jump Ball Len vs. Robinson: Tip to Ntilikina,None,None,None,None
2,0021800155,7,1,101,1,7:41 PM,11:41,None,None,Hardaway Jr. 9' Driving Floating Jump Shot (2 ...,2 - 0,-2
3,0021800155,9,5,4,1,7:41 PM,11:38,Young Traveling Turnover (P1.T1),None,None,None,None
4,0021800155,10,1,108,1,7:42 PM,11:31,None,None,Robinson 1' Cutting Dunk Shot (2 PTS) (Hardawa...,4 - 0,-4

In [19]:
df = game.BoxscoreSummary(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')
df = df.season_series()
df.head()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,GAME_DATE_EST,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER
0,0021800944,1610612766,1610612757,2019-03-03T00:00:00,0,2,Portland

In [26]:
df = Scoreboard(month=11, day=6, year=2017, league_id='00', offset=0)
df = df.series_standings()
df.head()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,GAME_DATE_EST,HOME_TEAM_WINS,HOME_TEAM_LOSSES,SERIES_LEADER
0,0021700146,1610612737,1610612738,2017-11-06T00:00:00,1,3,Boston
1,0021700148,1610612744,1610612748,2017-11-06T00:00:00,2,0,Golden State
2,0021700147,1610612756,1610612751,2017-11-06T00:00:00,1,1,Tied

In [39]:
df = team.TeamLastNGamesSplits(team_id='1610612737', measure_type='Base', per_mode='PerGame', 
                               plus_minus='N', pace_adjust='N', rank='N', league_id='00', 
                               season='2017-18', season_type='Regular Season', po_round='0', 
                               outcome='', location='', month='0', season_segment='', date_from='', 
                               date_to='', opponent_team_id='0', vs_conference='', vs_division='', 
                               game_segment='', period='0', shot_clock_range='', last_n_games='0')
df = df.last20()
df.head()

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Last 20 Games,Last 20 Games,20,5,15,0.25,48.0,38.3,87.0,0.44,...,1,1,1,1,1,1,1,1,161,Last 20 Games

In [38]:
df = team.TeamGeneralSplits(team_id='1610612737', measure_type='Base', per_mode='PerGame', plus_minus='N', pace_adjust='N',
                            rank='N', league_id='00', season='2017-18', season_type='Regular Season', 
                            po_round='0', outcome='', location='', month='0', season_segment='', 
                            date_from='', date_to='', opponent_team_id='0', vs_conference='', vs_division='', 
                            game_segment='', period='0', shot_clock_range='', last_n_games='0')
df = df.wins_losses()
df.head()

,GROUP_SET,GROUP_VALUE,GAME_RESULT,GP,W,L,W_PCT,MIN,FGM,FGA,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,Wins/Losses,Wins,Wins,24,24,0,1.0,48.0,41.1,86.2,...,1,2,1,2,2,2,1,1,157,Wins
1,Wins/Losses,Losses,Losses,58,0,58,0.0,48.1,36.9,85.3,...,2,1,2,1,1,1,2,2,157,Losses

In [40]:
df = team.TeamPassTracking(team_id='1610612737', measure_type='Base', per_mode='PerGame', plus_minus='N', pace_adjust='N', rank='N', 
                           league_id='00', season='2017-18', season_type='Regular Season', po_round='0', 
                           outcome='', location='', month='0', season_segment='', date_from='', date_to='', 
                           opponent_team_id='0', vs_conference='', vs_division='', game_segment='', period='0',
                           shot_clock_range='', last_n_games='0')
df = df.passes_recieved()
df.head()

,TEAM_ID,TEAM_NAME,PASS_TYPE,G,PASS_FROM,PASS_TEAMMATE_PLAYER_ID,FREQUENCY,PASS,AST,FGM,FGA,FG_PCT,FG2M,FG2A,FG2_PCT,FG3M,FG3A,FG3_PCT
0,1610612737,Atlanta Hawks,made,66,"Schroder, Dennis",203471,0.155,62.70,6.21,7.17,17.73,0.404,4.45,9.89,0.450,2.71,7.83,0.346
1,1610612737,Atlanta Hawks,made,64,"Bazemore, Kent",203145,0.089,37.22,3.48,4.83,10.53,0.458,3.72,7.63,0.488,1.11,2.91,0.382
2,1610612737,Atlanta Hawks,made,73,"Collins, John",1628381,0.099,36.27,1.36,2.48,6.15,0.403,1.75,4.21,0.417,0.73,1.95,0.373
3,1610612737,Atlanta Hawks,made,46,"Ilyasova, Ersan",101141,0.058,33.80,1.11,2.30,6.37,0.362,1.70,4.67,0.363,0.61,1.70,0.359
4,1610612737,Atlanta Hawks,made,61,"Dedmon, Dewayne",203473,0.073,31.75,1.39,2.79,6.39,0.436,2.05,4.48,0.458,0.74,1.92,0.385