In [15]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [12]:
from nba_py import team

In [13]:
from nba_py import game

In [36]:
df = game.Boxscore(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')

In [37]:
df_cloumns = df.team_stats()

In [61]:
df = game.BoxscoreSummary(game_id='0021800944', season='2018-19', season_type='Regular Season', range_type='0', start_period='0', end_period='0', start_range='0', end_range='0')

In [64]:
df_data = df.line_score()

In [65]:
df_data.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NICKNAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT2,PTS_OT3,PTS_OT4,PTS_OT5,PTS_OT6,PTS_OT7,PTS_OT8,PTS_OT9,PTS_OT10,PTS
0,2019-03-03T00:00:00,1,0021800944,1610612766,CHA,Charlotte,Hornets,29-34,25,25,...,0,0,0,0,0,0,0,0,0,108
1,2019-03-03T00:00:00,1,0021800944,1610612757,POR,Portland,Trail Blazers,39-24,32,24,...,0,0,0,0,0,0,0,0,0,118

In [66]:
df_data.to_csv('test_line_score.csv')

In [ ]:
from nba_py import Scoreboard

df = Scoreboard(month=11, day=6, year=2018, league_id='00', offset=0)